---
import Layout from '../layouts/Layout.astro'; // ถ้าคุณมี layout
---
<Layout title='Homepage'>
  <h1>welcome page</h1>
<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<div>
    <p>Welcome to the homepage. This is a simple Astro page.</p>
    <p>Here you can find various links and information about our site.</p>
</div>
</Layout>