---
import Layout from '../layouts/Layout.astro';
---
<Layout title='License'>
  <h1 class="text-3xl font-bold underline">License</h1>
  <p>This project is licensed under the MIT License.</p>
  <p>Feel free to use, modify, and distribute this code as per the terms of the license.</p>
  <p>For more details, please refer to the <a href="https://opensource.org/license/mit/">MIT License</a>.</p>
</Layout>