<div class="flex flex-row">
    <h1 class="text-3xl font-bold underline">
      Teams Page
    </h1>
    <p>Welcome to the teams section. Here you will find information about various teams.</p>
</div>
