---
import Layout from '../layouts/Layout.astro';

---

<Layout title='Terms of Service'>
  <h1 class="text-3xl font-bold underline">Terms of Service</h1>
  <p>Welcome to our Terms of Service page. Please read these terms carefully before using our services.</p>
  <p>By accessing or using our services, you agree to be bound by these terms.</p>
  <p>If you do not agree with any part of these terms, you must not use our services.</p>
</Layout>